In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("Flight Booking History.xlsx")

In [3]:
print(data.head())

   Customer_ID Customer Name  Flight Name     Origin Destination Seat-Number  \
0       100001  Anjali Patel    GoAir 562      Kochi      Mumbai          A1
1       100002   Ravi Sharma   IndiGo 122       Pune         Goa          A2
2       100003   Priya Gupta  IndiGo 6825  Bengaluru     Chennai          A3
3       100004    Aman Singh  IndiGo 5221     Mumbai         Goa          A4
4       100005   Meena Patel    GoAir 380        Goa      Mumbai          A5

   Flight_ID
0     100000
1     100001
2     100002
3     100003
4     100004

In [4]:
def get_flight_info(data, customer_id):
    customer_data = data[data['Customer_ID'] == customer_id]    #Returns the only row required. customer_data is now a dataframe.
    if customer_data.empty:
        return "No data found for the given Customer_ID."

    flight_counts_df = customer_data['Flight_ID'].value_counts().reset_index()  #The count of the Flight_ID is returned with reseted-index. This is a new dataframe of 2 columns
    flight_counts_df.columns = ['Flight_ID', 'Frequency']  #renamed the column name to Flight_ID and Frequency 
    unique_flights_info = customer_data.drop_duplicates(subset=['Flight_ID'])[['Flight_ID', 'Origin', 'Destination','Flight Name']]   #dropped the duplicate rows
    merged_info = pd.merge(flight_counts_df, unique_flights_info, on='Flight_ID', how='left') #You merge the table based on Flight ID, and the join used is left join
    output_table = merged_info.sort_values(by='Frequency', ascending=False)  #since ascending=False, the sort will be descending based on the Frequency. 
    return output_table

In [5]:
customer_id=int(input("Enter the Customer ID"))
get_flight_info(data,customer_id)

Enter the Customer ID100037

   Flight_ID  Frequency     Origin Destination    Flight Name
0     100033          3  Mangalore        Pune     IndiGo 672
1     110033          1       Pune   Mangalore  IndiGo Mod672